.add-button {
  font-size: 19px;
  line-height: 0px;
  padding: 0 7px;
  margin-left: 10px;
  height: 30px;
}

.add-button-sm {
  @extend .add-button;
  padding: 1px 3px;
  border-radius: 10px;
  line-height: 15px;
  font-size: 20px;
  height: 20px;
}

.close-btn {
  background: #E2E2E2;
  padding: 0px 3px;
  border-radius: 10px;
  line-height: 14px;
  font-size: 15px;
}

.form-toolbar {
  height: 22px;
  margin-bottom: 12px;
}

.details {
  .form-group:hover {
    background: #F1F1F1;
  }

  & * {
    cursor: pointer;
  }
}

.form-footer {
  .pull-right {
    margin-left: 10px;
  }
  .btn-default {
    color: $main-color;
  }
}

.selectable-item {
  cursor: pointer;
}

.form-static {
  @extend .form-control-static;
  border-bottom: 1px solid $form-static-border-color;
  padding-bottom: 0;
  min-height: 23px;
}

.Select-control {
  border-radius: 0;
}

.form-buttons {
  margin-top: 20px;
}

.add-btn {
  @extend .btn;
  @extend .btn-default;
  background: #E2E2E2;
  padding: 0px 10px;
  font-size: 10px;
  line-height: 13px;
  border-radius: 0;
}

.typeahead-group {
  width: 100%;
  display: table;
  & > div {
    display: table-cell;
    padding: 0;
    vertical-align: top;
  }
  & > .typeahead-group__col:last-child {
    width: 40px;
    .btn {
      padding-top: 8px;
      padding-bottom: 7px;
    }
  }
}

.mark-color {
  color: $mark-color;
}

.font-size-85 {
  font-size: 85%;
}
.font-size-90 {
  font-size: 90%;
}

.list-toolbar {
  margin-bottom: 15px;
}

.block-delimiter {
  margin-bottom: 15px;
}
.form-row-delimiter {
  margin-bottom: 7px;
}

// Search field
.search-field__highlight{
  background: lighten($main-color, 30);
  padding: 0;
  //font-weight: bold;
}
.search-field__title {
  overflow: hidden;
}
.search-field__body {
  font-size: 9px;
  overflow: hidden;
}
