.form-group {
  input[type="text"] {
    @extend .form-control;
  }
}

.control-label {
  font-size: $font-size-base;
  font-weight: normal;
  color: lighten($text-color, 20);
}

.panel-heading {
  font-weight: bold;
}
