// Project variables
$main-color: #31B59F;
$mark-color: #648DC3;
$mark-warn-color: rgba(255, 220, 0, 0.3);
$form-static-border-color: lighten($text-color, 50);
$fonts-path: '../../../public/assets/fonts';
$table-block-height: 36px;
$table-grid-header-border-color: #c7c7c7;
$layout-table-padding: 5px;
