// alertify
@import "../../../node_modules/alertify.js/dist/css/alertify.css";
// Fix position
.alertify {
  z-index: 9999999999999;
}

// font-awesome
$fa-font-path: "../../../node_modules/font-awesome/fonts";
@import "../../../node_modules/font-awesome/scss/font-awesome.scss";

// bootstrap
$icon-font-path: "../../../node_modules/bootstrap-sass/assets/fonts/bootstrap/";
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Typeahead
.typeahead input[type="text"] {
  @extend .form-control;
}

// react-select
@import '../../../node_modules/react-select/dist/react-select.css';
.Select-menu-outer {
  z-index: 2;
}
