.table-grid {
  font-size: 90%;
  border-top-color: $table-grid-header-border-color !important;

  th {
    background-color: desaturate(lighten($main-color, 40), 10);
    border-color: $table-grid-header-border-color !important;
    border-bottom-width: 1px !important;
    text-align: center;
  }
  .table-block {
    height: $table-block-height;
    overflow: hidden;
    line-height: $table-block-height / 2;
  }
  .table-block-row {
    height: $table-block-height / 2;
    overflow: hidden;
    line-height: $table-block-height / 2;
  }
  .table-grid__date-col {
    width: 120px;
  }
  .table-grid__load-col {
    width: 72px;
  }
  .table-grid__broker-col {
    min-width: 200px;
  }
}
