.rpoint-form__close{
  position: relative;
  button {
    position: absolute;
    z-index: 10;
    right: -15px;
    top: -14px;
  }
}

.rpoint__item-row {
  width: 100%;

  .rpoint__weight-label {
    width: 40px;
    text-align: right;
  }
  .rpoint__pieces-label {
    width: 30px;
    text-align: right;
  }
}

.rpoint__date-row {
  .rpoint__date {
    padding-right: 5px;
  }
  .rpoint__time {
    width: 92px;
  }
  .rpoint__to {
    width: 20px;
    text-align: center;
  }
}
