.invoice__line1 {
  margin: 0 (-$layout-table-padding);
  & > tr > td {
    padding: $layout-table-padding;
  }
}
.invoice__line1-bg {
  background: #eee;
  padding: 0 $grid-gutter-width;
  margin: 0 (-$grid-gutter-width);
}
.invoice__customer-col {
  width: 250px;
}
.invoice__email-col {
  width: 320px;
  padding-top: 32px !important;
}
.invoice__balance-col {
  text-align: right;
}
.invoice__balance-value {
  font-size: 36px;
  line-height: 36px;
}

.invoice__line2 {
  width: 70%;
  margin: 0 (-$layout-table-padding);
  & > tr > td {
    padding: $layout-table-padding;
    vertical-align: top;
    width: 25%;
  }
}

.invoice__list-buttons {
  button {
    margin-right: 5px;
  }
}
.invoice__sub-total {
  font-size: 16px;
  text-align: right;
  color: #888;
}
.invoice__balance-total {
  font-size: 20px;
  text-align: right;
}

.invoice__items {
  th {
    text-transform: uppercase;
    font-weight: normal;
  }
  td {
    padding: 0 !important;
    vertical-align: middle !important;
    input {
      border-width: 0;
      -webkit-box-shadow: none;
      -o-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      background: transparent;
      margin: 0;
    }
    input:focus {
      border-width: 1px;
    }
  }
}

td.invoice-item__item-num-col {
  padding: 5px !important;
  width: 20px;
}
.invoice-item__service-col {
  width: 70px;
}
.invoice-item__ref-col {
  width: 90px;
}
.invoice-item__qty-col {
  width: 50px;
}
.invoice-item__rate-col {
  width: 100px;
}
.invoice-item__amount-col {
  width: 100px;
}
td.invoice-item__action-col {
  width: 30px;
  padding: 5px !important;
}

.invoice__currency {
  display: table;
  width: 100%;
  & > div {
    display: table-cell;
  }
}
.invoice__currency_sign {
  padding-left: 5px;
  width: 8px;
}
