.company__dropzone {
  margin: 10px 0;
  width: 180px;
  height: 100px;
  padding: 5px;
  border: 2px dashed rgb(102, 102, 102);
  border-radius: 5px;
}

.company__drugover {
  background: #DADADA;
}
