.freight-item {
  overflow: hidden;
}
.freight-item__item_row {
  overflow: hidden;
  height: 34px;
}

.freight-item__date-duration{
  font-size: 10px;
  color: #4990B5;
}

.freight-item__actions{
  width: 85px;
  button {
    margin-left: 5px;
  }
}

.freight__mark-with-trip {
  background: $mark-warn-color;
}
