.trip__freight {
  border-bottom: 1px solid $main-color;
  padding-bottom: 10px;
  margin-bottom: 10px;

  &:last-child {
    border: none !important;
  }
}

.trip__add-order-label {
  color: $gray-light;
}

.trip__form-wrapper {
  border-bottom: 1px solid $main-color;
  margin-bottom: 15px;
}
.trip__driver-col {
  width: 120px;
}
.trip__truck-col {
  width: 41px;
}
