@font-face {
  font-family: 'icomoon';
  src:  url('#{$fonts-path}/icomoon/icomoon.eot?ddc2y3');
  src:  url('#{$fonts-path}/icomoon/icomoon.eot?ddc2y3#iefix') format('embedded-opentype'),
    url('#{$fonts-path}/icomoon/icomoon.ttf?ddc2y3') format('truetype'),
    url('#{$fonts-path}/icomoon/icomoon.woff?ddc2y3') format('woff'),
    url('#{$fonts-path}/icomoon/icomoon.svg?ddc2y3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-truck_s:before {
  content: "\e913";
}
.icon-trip_s:before {
  content: "\e901";
}
.icon-load_s:before {
  content: "\e902";
}
.icon-dashbord:before {
  content: "\e906";
}
.icon-broker:before {
  content: "\e903";
}
.icon-driver:before {
  content: "\e904";
}
.icon-load:before {
  content: "\e900";
}
.icon-globe:before {
  content: "\f0b6";
}
.icon-truck:before {
  content: "\e905";
}
.icon-camera:before {
  content: "\e907";
}
.icon-display:before {
  content: "\e908";
}
.icon-user:before {
  content: "\e909";
}
.icon-phone:before {
  content: "\e90a";
}
.icon-trash:before {
  content: "\e90b";
}
.icon-settings:before {
  content: "\e90c";
}
.icon-location:before {
  content: "\e90d";
}
.icon-bubble:before {
  content: "\e90e";
}
.icon-like:before {
  content: "\e90f";
}
.icon-paperplane:before {
  content: "\e910";
}
.icon-banknote:before {
  content: "\e911";
}
.icon-clip:before {
  content: "\e912";
}

