.field {
  position: relative;
  .field__error-wrapper {
    position: absolute;
    right: 0px;
    //top: -50%;
    margin-top: -8px;

    .field__error-popover {
      min-width: 200px;
      border-color: #A20000;
      color: #A00000;
      background-color: #FFEFEF;
      .arrow {
        border-right-color: #A20000;
        &:after {
          border-right-color: #FFEFEF;
        }
      }
    }
  }
  .field__field-error {
    input {
      border-color: #FF0000 !important;
    }
  }
}
