.freight-form__toolbar {
  @extend .clearfix;
  margin-bottom: ($form-group-margin-bottom * 2);

  button {
    margin-left: 3px;
  }
}

.freight {
  margin-bottom: 20px;
}
.freight__block {
  padding: 5px 5px 1px;
  margin-bottom: 30px;
}

.freight__col_header {
  margin-top: 0;
}

//.freight-big-label {
//  font-size: 16px;
//  font-weight: bold;
//  text-align: right;
//  padding-top: 3px;
//}

.freight-big-value {
  font-size: 14px;
  font-weight: bold;
  padding-top: 1px;
}

.freight__column__tools {
  position: relative;
  margin-right: -7px;

  .freight__column__tools_inner {
    position: absolute;
    width: 100%;
    margin-right: -4px;
    text-align: right;
    z-index: 1;
  }

  button {
    opacity: 0.3;
    margin-left: 5px;
  }
}

.freight__block:hover {
  .freight__column__tools button {
    opacity: 1;
  }
}

.freight__rpoint-title {
  & > .form-static {
    margin-right: 30px;
  }
}

.freight__details_tripid {
  font-weight: bold;
}

.freight__rpoint-col {
  border-left: 1px solid #ccc;
  padding-left: 12px;
}
