.trip-form {
  display: table;
  width: 100%;

  & > div {
    display: table-cell;
    vertical-align: top;
    text-align: center;
  }

  .trip-form__inner {
    max-width: 200px;
    display: inline-block;
  }
  .trip-from__label {
    padding-top: 4px;
  }

  .trip-form__col-plus-load {
    text-align: left;
  }
  .trip-form__col-id {
    .form-static {
      line-height: 26px;
    }
  }
  .trip-form__col-dispatcher {
    text-align: right !important;

    .trip-form__dispatcher {
      display: table;
      float: right;
      .trip-form__dispatcher-label {
        @extend .control-label;
        display: table-cell;
        padding-right: 5px;
      }
      .trip-form__dispatcher-name {
        @extend .form-static;
        display: table-cell;
      }
    }
  }

  .trip-form__col-drivers {
    .trip-form__inner {
      max-width: inherit;
      text-align: left;
      display: inline-table;

      & > div {
        display: table-cell;
      }
    }

    .trip-form__driver-label {
      text-align: right;
      padding-right: 7px;
      vertical-align: top;

      label {
        margin: 0;
      }
    }
    .trip-form__driver-controls {
      width: 140px;
    }
    .trip-form__driver-add {
      width: 35px;
      button {
        padding-top: 8px;
        padding-bottom: 7px;
      }
    }
  }
  .trip-form__col-truck{
    .trip-form__inner {
      text-align: left;
      width: 200px;

      label {
        margin-top: 4px;
      }
    }
  }

  .trip-form__carrier-chbox {
    padding-bottom: 5px;
    padding-top: 4px;
  }

  .trip-form__carrier {
    .trip-form__inner {
      max-width: inherit;
      text-align: left;
      width: 230px;

      label {
        margin-top: 4px;
      }
    }
  }
}

