@keyframes FetchPreloaderRotation {
  0% {transform:rotate(0deg);}
  100% {transform:rotate(360deg);}
}

.fetch-preloader {
  span {
    position: fixed;
    top: 85px;
    right: 10px;
    z-index: 1000;
    font-size: 25px;
    color: #4D6B8E;
    width: 25px;
    height: 25px;
    line-height: 0.8;
    animation-name: FetchPreloaderRotation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}
