<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1' />

  <title><%= htmlWebpackPlugin.options.title %></title>

  <!-- seo -->
  <meta name='application-name' content='Trucks'>
  <meta name='author' content='SketchPixy, support@sketchpixy.com'>
  <meta name='description' content='Rubix Admin Template'>
  <meta name='keywords' content='admin, template, wrapbootstrap, metro, modern, flat, responsive'>
  <meta name='robots' content='index, follow'>
  <meta name='viewport' content='width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no'>

  <!-- favicon -->
  <link rel='apple-touch-icon' sizes='57x57' href='/favicons/app/apple-touch-icon-57x57.png'>
  <link rel='apple-touch-icon' sizes='114x114' href='/favicons/app/apple-touch-icon-114x114.png'>
  <link rel='apple-touch-icon' sizes='72x72' href='/favicons/app/apple-touch-icon-72x72.png'>
  <link rel='apple-touch-icon' sizes='144x144' href='/favicons/app/apple-touch-icon-144x144.png'>
  <link rel='apple-touch-icon' sizes='60x60' href='/favicons/app/apple-touch-icon-60x60.png'>
  <link rel='apple-touch-icon' sizes='120x120' href='/favicons/app/apple-touch-icon-120x120.png'>
  <link rel='apple-touch-icon' sizes='76x76' href='/favicons/app/apple-touch-icon-76x76.png'>
  <link rel='apple-touch-icon' sizes='152x152' href='/favicons/app/apple-touch-icon-152x152.png'>
  <meta name='apple-mobile-web-app-title' content='Trucks'>
  <link rel='icon' type='image/png' href='/favicons/app/favicon-196x196.png' sizes='196x196'>
  <link rel='icon' type='image/png' href='/favicons/app/favicon-160x160.png' sizes='160x160'>
  <link rel='icon' type='image/png' href='/favicons/app/favicon-96x96.png' sizes='96x96'>
  <link rel='icon' type='image/png' href='/favicons/app/favicon-16x16.png' sizes='16x16'>
  <link rel='icon' type='image/png' href='/favicons/app/favicon-32x32.png' sizes='32x32'>
  <meta name='msapplication-TileColor' content='#E76049'>
  <meta name='msapplication-TileImage' content='/favicons/app/mstile-144x144.png'>

  <!-- pace loader -->
  <link rel="stylesheet" href="assets/pace.css" />
  <script type='text/javascript' src='assets/pace.min.js'></script>
  <script src="https://cdn.ravenjs.com/3.3.0/raven.min.js"></script>
</head>
<body class='fade-out pace-big' data-version='<%= htmlWebpackPlugin.options.data.version %>'>
  <!-- application container (required) -->
  <div id='app-container'></div>
</body>
</html>
