$layout-min-width: 980px;

#top-bar > .container {
  min-width: $layout-min-width !important;
}

#content {
  margin-left: 75px;
  margin-top: $navbar-height * 2 + 10;
  min-height: 100vh;
}
#content-grid {
  min-width: $layout-min-width !important;
}

#tight-layout {
  padding-top: 25px;
}

#wide-layout {
  padding: 25px ($grid-gutter-width / 2);
  min-width: $layout-min-width !important;
}

.layout__topbar-divider {
  a {
    border-left: 1px solid #ccc;
    width: 0;
    height: $navbar-height;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}

.layout__company-settings {

  & > a.dropdown-toggle {
    &::before {
      content: "\E019";
      position: relative;
      top: 1px;
      display: inline-block;
      font-family: 'Glyphicons Halflings';
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
    }
  }
}

.layout__company-settings_menu {
  width: 500px;
  padding: 15px;

  .layout__company-settings_main-header {
    margin-top: 0;
  }

  .layout__company-settings_section-header {
    font-size: 16px;
  }

  ul > li > a {
    line-height: 30px;
  }
}

#top-bar {
  margin-left: 75px;
  background-color: #EAEAEA;
  border: 0;

  .navbar-nav > li {
    & > a:link, & > a:visited {
      color: #969696;
    }
  }

  & > .container {
    margin: 0 !important;
    width: initial !important;
  }
}

#second-bar {
  margin-top: 36px;
  margin-left: 75px;
  background-color: #D8D8D8;
  border: 0;

  & > .container {
    margin: 0 !important;
    width: initial !important;
  }
}
#second-bar__page-header {
  margin: 0;
  color: #444;
}

#sidebar {
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  position: fixed;
  overflow: hidden;
  width: 75px;
  background: #273135;

  .list-group {
    margin-top: 10px;
    .list-group-item {
      background: none;
      border-radius: 0;
      color: #BFBFBF;
      border: none;

      &:hover {
        background: rgba(255,255,255, 0.2);
        .sidebar__icon, .sidebar__label {
          color: white;
        }
      }
    }
  }

  .sidebar__icon {
    display: block;
    font-size: 30px;
    text-align: center;
    margin-bottom: 3px;
  }

  .sidebar__label {
    display: block;
    font-size: 10px;
    text-align: center;
    color: #777;
  }

  .sidebar__active {
    background: rgba(255,255,255, 0.15) !important;

    .sidebar__icon, .sidebar__label {
      color: darken(white, 10);
    }
  }
}

#sidebar-logo {
  padding: 10px;
  text-align: center;
  height: 62px;

  img {
    width: 45px;
  }
}

//#footer {
//  background: #BFC8CE;
//  padding: 10px;
//  text-align: center;
//  padding-left: 250px;
//}
